.clear,.offices,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display: block
}

a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline
}

ol,ul {
    list-style: none
}

blockquote,q {
    quotes: none
}

blockquote:after,blockquote:before,q:after,q:before {
    content: '';
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

@-webkit-keyframes introScale {
    0% {
        -webkit-transform: scale(.75);
        -moz-transform: scale(.75);
        transform: scale(.75);
        opacity: 0
    }

    100% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        transform: scale(1);
        opacity: 1
    }
}

@keyframes introScale {
    0% {
        -webkit-transform: scale(.75);
        -moz-transform: scale(.75);
        transform: scale(.75);
        opacity: 0
    }

    100% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        transform: scale(1);
        opacity: 1
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@-webkit-keyframes fadeDown {
    0% {
        margin-top: -8px;
        opacity: 0
    }

    100% {
        margin-top: 0;
        opacity: 1
    }
}

@keyframes fadeDown {
    0% {
        margin-top: -8px;
        opacity: 0
    }

    100% {
        margin-top: 0;
        opacity: 1
    }
}

.clear:after,.offices:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0
}

.screening-room .logo,.screening-room h1 {
    content: ''
}

* html .clear,* html .offices {
    height: 1%
}

html {
    -webkit-font-smoothing: antialiased
}

body {
    line-height: 1;
    background: #111;
    color: rgba(255,255,255,.5);
    font-family: aktiv-grotesk,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 15px;
    font-weight: 300
}

a,a:visited {
    color: inherit
}

.small {
    color: rgba(255,255,255,.3);
    font-size: 12px;
    letter-spacing: .2em;
    margin-top: 10px;
    text-transform: uppercase
}

.screening-room {
    margin: 150px auto 0
}

.screening-room .logo {
    background: url(download.png) no-repeat;
    background-size: 149px 206px;
    margin: 0 auto 21px;
    height: 214px;
    width: 158px;
    -webkit-animation-name: introScale;
    -moz-animation-name: introScale;
    animation-name: introScale;
    -webkit-animation-duration: 6s;
    -moz-animation-duration: 6s;
    animation-duration: 6s;
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out
}

.offices,.screening-room h1 {
    margin: 0 auto 100px;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s
}

.screening-room h1 {
    background: url(site-assets/images/screening-room.png) no-repeat;
    background-size: 247px 36px;
    text-indent: -9999px;
    height: 36px;
    width: 247px;
    -webkit-animation-name: fadeIn;
    -moz-animation-name: fadeIn;
    animation-name: fadeIn;
    animation-duration: 1s;
    -webkit-animation-delay: 5s;
    -moz-animation-delay: 5s;
    animation-delay: 5s;
    -webkit-animation-fill-mode: backwards;
    -moz-animation-fill-mode: backwards;
    animation-fill-mode: backwards
}

.offices {
    line-height: 140%;
    width: 700px;
    -webkit-animation-name: fadeDown;
    -moz-animation-name: fadeDown;
    animation-name: fadeDown;
    animation-duration: 1s;
    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    animation-delay: 6s;
    animation-fill-mode: backwards
}

.footer,.offices {
    text-align: center;
    -webkit-animation-fill-mode: backwards;
    -moz-animation-fill-mode: backwards
}

.offices .address {
    float: left;
    margin-right: 50px;
    width: 200px
}

.offices .address:last-child {
    margin-right: 0
}

.footer {
    margin-bottom: 30px;
    -webkit-animation-name: fadeIn;
    -moz-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: .5s;
    -moz-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-delay: 7s;
    -moz-animation-delay: 7s;
    animation-delay: 7s;
    animation-fill-mode: backwards
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
    html {
        -webkit-font-smoothing:subpixel-antialiased
    }

    .screening-room .logo {
        background-image: url(site-assets/images/logo@2x.png)
    }

    .screening-room h1 {
        background-image: url(site-assets/images/screening-room@2x.png)
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 3) {
    .screening-room .logo {
        background-image:url(site-assets/images/logo@3x.png)
    }

    .screening-room h1 {
        background-image: url(site-assets/images/screening-room@3x.png)
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width:480px) and (-webkit-min-device-pixel-ratio:2) {
    .screening-room {
        margin-top:100px
    }

    .screening-room .logo {
        background-size: 103px 142px;
        height: 142px;
        width: 103px
    }

    .screening-room h1 {
        background-size: 185px 27px;
        height: 27px;
        width: 185px
    }

    .screening-room .offices {
        width: 100%
    }

    .screening-room .offices .address {
        float: none;
        display: block;
        margin-bottom: 40px;
        margin-right: 0;
        width: 100%
    }
}

@media only screen and (min-device-width: 375px) and (max-device-width:667px) and (-webkit-min-device-pixel-ratio:2) {
    .screening-room .logo {
        background-size:155px 214px;
        height: 214px;
        width: 155px
    }

    .screening-room h1 {
        background-size: 247px 36px;
        height: 36px;
        width: 247px
    }
}

@media only screen and (min-device-width: 375px) and (max-device-width:667px) and (-webkit-min-device-pixel-ratio:2) and (orientation:landscape) {
    .screening-room {
        margin-top:50px
    }
}
